.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0.7;
}

.bgc_opacity {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
  opacity: 0.7;
}

.home_page {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Couleur du texte sur l'image */
  text-align: center; /* Alignement du texte dans le centre */
}

.btn-rdv {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.btn-rdv a {
  border-radius: 8px;
  opacity: 0.7;
  overflow: hidden; // Assure que le contenu débordant n'est pas visible
  position: relative; // Position relative pour que l'élément enfant positionné absolument soit relatif à celui-ci
  transition: transform 0.3s ease;
}

.btn-rdv a:hover {
  transform: scale(1.08);
  opacity: 1;
}

/*--------------------- Dashboard ---------------------*/

.dashboard {
  display: flex;
  flex-direction: row;
  gap: 56px;
  background-color: white;
  height: 100vh;
  overflow-y: hidden;
}

.li-space {
  display: flex;
  justify-content: space-between;
}

/*--------------------- Navbar de gauche ---------------------*/

.left-navbar {
  width: 232px;
  border-right: 2px solid rgba($color: black, $alpha: 0.1);
}

.pp-avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 10px;
}

.nav-dashboard h6 {
  opacity: 0.6;
  margin-left: 16px;
}

.link-left-nav {
  display: flex;
  flex-direction: column;
  width: 168px;
  gap: 8px;
  margin-left: 24px;
}

.link-left-nav a {
  text-decoration: none;
  color: black;
  size: 100%;
  padding: 2px 24px;
  border-radius: 8px;
}

.link-left-nav a:hover {
  background-color: rgba($color: #a7face, $alpha: 0.3);
}

/*--------------------- Dashboard Top ---------------------*/

.dashboard-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.pourcent-up {
  color: green;
}

.pourcent-down {
  color: red;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
}

.card-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba($color: #c9f0ff, $alpha: 0.3);
  width: 220px;
  border-radius: 16px;
  padding: 10px;
  overflow: hidden; // Assure que le contenu débordant n'est pas visible
  position: relative; // Position relative pour que l'élément enfant positionné absolument soit relatif à celui-ci
  transition: transform 0.3s ease;
}

.card-top:hover {
  transform: scale(1.2);
}

.chiffre-affaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/*--------------------- Dashboard Midle ---------------------*/

.midle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  gap: 50px;
}

.patient-type-card {
  background-color: rgba($color: #c9f0ff, $alpha: 0.3);
  width: 650px;
  border-radius: 32px;
  padding: 20px;
  overflow: hidden; // Assure que le contenu débordant n'est pas visible
  position: relative; // Position relative pour que l'élément enfant positionné absolument soit relatif à celui-ci
  transition: transform 0.3s ease;
}

.patient-type-card:hover {
  transform: scale(1.07);
}

.patient-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  margin-left: 40px;
  margin-top: 48px;
}

.img-rotation {
  animation: rotateAnimation 45s linear infinite; /* 4s de durée, ajustez selon vos besoins */
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-stats {
  width: 300px;
}

.week-reservation-card {
  background-color: rgba($color: #c9f0ff, $alpha: 0.3);
  border-radius: 32px;
  padding: 20px;
  overflow: hidden; // Assure que le contenu débordant n'est pas visible
  position: relative; // Position relative pour que l'élément enfant positionné absolument soit relatif à celui-ci
  transition: transform 0.3s ease;
}

.week-reservation-card:hover {
  transform: scale(1.08);
}

.li-week {
  width: 150px;
  height: 100%;
}
