body {
  background-color: #ecf0f1;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0.7;
}

.bgc_opacity {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
  opacity: 0.7;
}

.home_page {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.btn-rdv {
  position: fixed;
  bottom: 30px;
  left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.btn-rdv a {
  border-radius: 8px;
  opacity: 0.7;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.btn-rdv a:hover {
  transform: scale(1.08);
  opacity: 1;
}


/*--------------------- Dashboard Top ---------------------*/

.dashboard {
  display: flex;
  flex-direction: row;
  gap: 56px;
  background-color: #ecf0f1;
  height: 100vh;
  overflow-y: hidden;
  font-family: 'Arial', sans-serif;
}

.li-space {
  display: flex;
  justify-content: space-between;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.pourcent-up {
  color: green;
}

.pourcent-down {
  color: red;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 97px;
}

.card-container a {
  text-decoration: none;
  color: black;
}

.card-container a .card-top {
  height: 100%;
}

.card-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 220px;
  border-radius: 6px;
  padding: 10px;

  overflow: hidden; // Assure que le contenu débordant n'est pas visible
  position: relative; // Position relative pour que l'élément enfant positionné absolument soit relatif à celui-ci
  transition: transform 0.5s ease;
  border: 2px solid transparent;
}


.card-top h3 {
  font-size: 1.2em;

}

.icon-info-card {
  display: flex;
  gap: 5px;
}

.icon-info-card p,
.icon-info-card i {

}

.card-top:hover {
  transform: scale(1.1);
  border-color: #2c3e50;
}

.chiffre-affaire {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/*--------------------- Dashboard Midle ---------------------*/

.midle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

.patient-type-card {
  background-color: rgba($color: #c9f0ff, $alpha: 0.3);
  width: 650px;
  border-radius: 8px;
  padding: 20px;
  overflow: hidden; // Assure que le contenu débordant n'est pas visible
  position: relative; // Position relative pour que l'élément enfant positionné absolument soit relatif à celui-ci
  transition: transform 0.5s ease;

}

.patient-type-card:hover {
  transform: scale(1.04);
}

.patient-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
  margin-left: 40px;
  margin-top: 48px;
}

.img-rotation {
  animation: rotateAnimation 44s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-stats {
  width: 300px;
}

.week-reservation-card {
  background-color: rgba($color: #c9f0ff, $alpha: 0.3);
  border-radius: 8px;
  padding: 20px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
  height: 320px
}

.week-reservation-card:hover {
  transform: scale(1.05);
}

.li-week {
  width: 150px;
  height: 100%;
}

.containers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px;
  background-color: #b4eef3f6;
  padding-right: 20px;
  padding-left: 20px;
}
.full-widths {
  grid-column: 1 / -1;
  background-color: #b4eef3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
}
.half-widths {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 200px;
}
.half-widths > div {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.seventy-percents {
  background-color: #f8867ce5;
}
.thirty-percents {
  background-color: #ffffff;
}


// .card-container .card-top {
//   background-color: #f5f5f5;
//   border-radius: 8px;
//   padding: 20px;
//   margin-bottom: 20px;
//   text-align: center;
//   transition: background-color 0.3s;
// }

// .card-container h3 {
//   font-size: 1.2em;
//   color: #333;
//   margin-bottom: 10px;
// }

// .card-container span {
//   display: block;
//   font-size: 1.5em;
//   color: #666;
// }

// .percentage-up {
//   color: #4CAF50;
//   font-weight: bold;
// }

// .percentage-down {
//   color: red;
//   font-weight: bold;
// }


// .middle-container {
//   display: flex;
//   justify-content: space-between;
//   margin-top: 10px;
// }

.patient-type-card, .week-reservation-card {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.patient-type-card h3, .week-reservation-card h3 {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 15px;
}

// .patient-type-card {
//   height: 280px;
// }


// #--------->

.month-activity-card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  height: 315px;
}

.month-activity-card h3 {
  margin-bottom: 20px;
  color: #333;
}

.chart-container {
  max-width: 100%;
  overflow: auto;
}

.chart-container img {
  width: 100%;
  height: auto;
}
