<div class="search-bar-doctor">

  <%= form_with url: users_path, method: :get, html: { class: "d-flex derriere", data: { search_users_target: 'form' } } do |f| %>
    <%= f.text_field :query,

                      placeholder: "Recherchez",
                      value: params[:query],
                      class: "search-bar-doctor",
                      data: { action: 'keyup->search-users#update', search_users_target: 'searchInput' } %>

  <% end %>

</div>
