<label for="search-input">
  <i class="ion-location"></i>
</label>
<%= form_with url: users_path, method: :get, html: { class: "d-flex derriere", data: { search_users_target: 'form' } } do |f| %>
<%= f.label :query, "Recherchez" %>
<%= f.text_field :query,
                   value: params[:query],
                   id: "search-input",
                   class: "search-input",
                   data: { action: 'keyup->search-users#update', search_users_target: 'searchInput' } %>

<% end %>
