<div class="container-paiement">
  <div class="cards-paiement">
    <div class="prix-reservation"><p>Prix de Reservation : 50€</p></div>
    <div class="solde"><p>Solde : <%= @doctor.balance %></div>
  </div>
  <div class="diagramme"></div>
</div>
