<h1>Show User <%= @user.id %></h1>


  <%= simple_form_for [@user, @reservation] do |f|%>
<%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
<%= f.submit "submit" %>

  <% end %>
