<div data-controller="navbar" class="position-burger">
  <div  data-navbar-target="togglableElement" id="mySidenav" class="sidenav">
    <p id="closeBtn" class="close" data-action="click->navbar#closeMenu">x</p>
    <ul>
      <% unless current_user.present? %>
        <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
      <% end %>

      <%= link_to "Accueil", root_path %>

      <% if current_user %>

        <%= link_to "Profil", user_path(current_user), class: "nav-link" %>
        <li><a href="#">Messages</a></li>

      <% end %>

      <% if current_user %>
        <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
      <% end %>

    </ul>
  </div>

  <a href="#" id="openBtn" data-action="click->navbar#openMenu">
    <span  class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>
</div>
