<div data-controller="navbar" class="position-burger">
  <div  data-navbar-target="togglableElement" id="mySidenav" class="sidenav">
    <div  class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a id="closeBtn" href="#" class="close" >x</a>
    <ul>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <li><a href="#">Home</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Log out</a></li>
    </ul>
  </div>

  <a href="#" id="openBtn" data-action="click->navbar#openMenu" >
    <span  class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>
</div>
