<div class="search-bar">

  <%= form_with url: upcoming_reservations_path, method: :get, html: { class: "d-flex derriere", data: { search_reserv_target: 'formreserv' } } do |f| %>
    <%= f.text_field :query,

                      placeholder: "Recherchez",
                      value: params[:query],
                      id: "search-input",
                      class: "search-input",
                      data: { action: 'keyup->search-reserv#update', search_reserv_target: 'searchInputreserv' } %>

  <% end %>

</div>
