

<!-- ------------------------------- Index qui permet au docteur de voire tous ces patients ------------------------------- -->
  <body class="patients-home">

      <%= render "shared/nav-dashboard" %>

      <div  data-controller="search-users" class="main-content">

        <%= render "users/search" %>

        <h1>Mes rendez-vous<span class="counterpatient"><%= Reservation.where(doctor_id: current_user).where("date >= ?", Date.today).count %></span></h1>

        <div class="patients-search">
          <input type="text" placeholder="Recherchez un patient" class="recherche">
        </div>

        <%= render "list-rdv" %>
      </div>
    </body>
