<div class="container-validation">
  <div class="serenity">
    <h1><strong>SERENITY</strong></h1>
    <p>N'ayez plus peur d'aller à l'école</p>
  </div>
  <div class="confirmation-container">
    <div class="confirmation-popup">
      <div class="icon-check">✔</div>
    </div>
      <p>Votre rendez-vous a été confirmé avec succès.</p>
  </div>
</div>



<script>
  setTimeout(function() {
  window.location.href = "<%= root_path %>";
  }, 4000); // Redirection après 3 secondes
</script>
