.index-card-container-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crée 3 colonnes égales */
  gap: 32px;
  justify-items: center;
  padding-top: 5%;
}

.index-card-container a {
  text-decoration: none;
  color: black;
}

.index-card {
  background-color: rgba($color: #e7bac9, $alpha: 0.3);
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 350px;
  border-radius: 16px;
  overflow: hidden; // Assure que le contenu débordant n'est pas visible
  position: relative; // Position relative pour que l'élément enfant positionné absolument soit relatif à celui-ci
  transition: transform 0.3s ease;
}

.index-card:hover {
  transform: scale(1.1);
}

.index-card-show {
  background-color: rgba($color: #e7bac9, $alpha: 0.3);
  display: flex;
  flex-direction: row;
  height: 700px;
  width: 950px;
  border-radius: 16px;
  overflow: hidden; // Assure que le contenu débordant n'est pas visible
  position: relative; // Position relative pour que l'élément enfant positionné absolument soit relatif à celui-ci
  transition: transform 0.3s ease;
}

.link-card-users {
  display: flex;

  width: 100%;
}

.user-info-index {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px 0px 10px 10px;
  flex-grow: 1;
}

.user-info-index p {
  margin: 0px !important;
  size: 3px;
}

.user-name-age {
  width: 100%;
}

.user-num-info {
  width: 100%;
}

.user-num-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.primary-info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-info-card p {
  margin: 0px !important;
  padding: 5px 5px;
}

.primary-info-card a {
  margin-bottom: 4px;
}

.secondary-info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
