.dashboard-index {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.index-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 30px;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.search-bar img {
  border-radius: 22.5px;
}
