



.mapbox-user-card {
  display: flex;
  flex-direction: row-reverse;
  gap: 80px;
}


.doctors-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 10px 0px 10px;
}

.top-index-doctor {
  display: flex;
  justify-content: flex-start;
  color: #2c3e50;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.doctors-container .search-input {
  width: 273px;
}
