.button-login {
  background-color: #a358ce;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 5px #9b54c4;
  transition: box-shadow 0.3s;
  padding: 7px 12px;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-login:hover {
  background-color: darken(#b688d0, 20%);
}

.h2-login {
  color: white;
  padding-bottom: 15px;
}

.input-login input {
  border-radius: 6px;
}
.input-login input:focus {
  box-shadow: 0 0 5px #9b54c4;
}

.container-login {
  padding-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-forgot {
  padding-bottom: 60px;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.button-forgot:hover {
  color: #b688d0;
}

body.no-navbar .navbar {
  display: none;
}

body {

}
