.container2 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: white;
  height: 100vh !important;
  padding-top: 80px;
  padding: 80px 60px;
}

/*-------------------card Profil---------------------------*/
.position-info-card{
  width: 100%;
  height: 100;
}

.primary-info-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.primary-info-card p {
  height: 33%;
}

.secondary-info-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondary-info-card p {
  height: 50%;
}

p{
  font-size: 20px;
}



.container-bot-show {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
/*--------------------card Description--------------------*/
.description-profil {
  width: 50%;
  border-radius: 10px;
}

/*--------------------card Reservation--------------------*/
.reservation {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 10px;
  border-radius: 10px;
}

.reservation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 44px;
}

.calender {
  height: 339px;
}

.input-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 58px;
  gap: 40px;
}

.boutton-valider {
  height: 64px;
  width: 320px;
  border-radius: 10px;
  border: none;
}
