.container2 {
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: white;
  height: 100vh !important;
  padding-top: 80px;
  padding: 80px 60px;
}

.container-bot-show {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.description-profil {
  width: 50%;
  border-radius: 10px;
}

.reservation {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-left: 10px;
  border-radius: 10px;
}

.reservation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 44px;
}

.calender {
  height: 339px;
}

.input-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 58px;
  gap: 40px;
}

.boutton-valider {
  height: 64px;
  width: 320px;
  border-radius: 10px;
  border: none;
}
